<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="images/weather.png"></link>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
    <img class="portrait" src="./images/63e1bda9-ebe1-4630-be6c-60a5642a64a1.jfif">
    </div>

{{>footer}}


</body>



</html>